<strong>Město: </strong> <input type="text" name="url" width="25"/>

 <strong>Datum podání přihlášky: </strong>
   <select id="dateOfSignup" onChange="readMonths()">
     <option value="0">Leden</option>
     <option value="1">Únor</option>
     <option value="2">Březen</option>
     <option value="3">Duben</option>
     <option value="4">Květen</option>
     <option value="5">Červen</option>
     <option value="6">Červenec</option>
     <option value="7">Srpen</option>
     <option value="8">Září</option>
     <option value="9">Říjen</option>
     <option value="10">Listopad</option>
     <option value="11">Prosinec</option>
   </select>


<strong>Počet obyvatel: </strong>
 <span id="residents" markdown="1"></span>
 <br><strong>Počet hlasů: </strong> 
 <span id="votes" markdown="1" ></span>
 <br><strong>Příspěvek (letos): </strong> 
 <span id="price" markdown="1">- </span> Kč
 <br><strong>Příspěvek (další roky): </strong>  <span id="priceNextYear" markdown="1">- </span> Kč 
