<div id="image-rule"> </div>
<footer class="footer">
  <div class="row">

    <div class="small-12 medium-4 large-2 columns">
      <h4>Navigace</h4>
      <ul class="footer-links">
        {% include nav.html %}
      <ul>
    </div>

    <div class="small-12 medium-8 large-4 columns small">
      <h4>Otevřená města</h4>
      <p>jsou <strong>spolek měst</strong>, která prosazují otevřené fungování místní samosprávy, zejména:</p>
      <ul>
        <li>zveřejňování informací a Open Data,</li>
        <li>otevřené zadávání veřejných zakázek,</li>
        <li>zapojování veřejnosti do rozhodování,</li>
        <li>open source a otevřené technologie.</li>
      </ul>
     </div>

     <div class="small-12 medium-4 large-2 columns">
       <h4>Následujte nás</h4>
       <ul class="footer-links">
         <li><a href="https://github.com/otevrenamesta/">GitHub</a></li>
         <li><a href="https://www.facebook.com/otevrenamesta">Facebook</a></li>
       <ul>
     </div>

    <div class="small-12 medium-8 large-4 columns">
      <div class="fb-like-box" data-href="https://www.facebook.com/otevrenamesta"
        data-height="300px" data-colorscheme="dark" data-show-faces="true"
        data-header="false" data-stream="false" data-show-border="false">
      </div>

    </div>
  </div>
</footer>

<footer class="copyright">
  <div class="row">
    <div class="small-12 medium-6 large-6 columns">
      <h3><img src="/media/logo.png" alt=""/> &nbsp;{{ site.title }}</h3>
  </div>

  <div class="small-12 medium-6 large-6 columns">
    <p>
      <span style="-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-khtml-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);display:inline-block;font-size:1em">©</span>
      Otevřená města, 2014-2018. Šiřte za podmínek licence
      <a href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img src="https://licensebuttons.net/l/by-sa/4.0/80x15.png" alt="Creative commons Uveďte autora – Zachovejte licenci 4.0"/>      </a>.<br/>
      Web <a href="mailto:michalekj@psp.cz">Jakub Michálek</a> •
      Webmaster: <a href="mailto:vaclav.klecanda@pirati.cz">Václav Klecanda</a> •
      <a href="/citace/">Použitá díla</a>
    </p>
  </div>
</div>
</footer>
