<footer class="site-footer row" role="contentinfo">
<hr/>
  <div class="large-12 columns">

    <ul class="inline-list right">
      <li><a href="https://github.com/otevrenamesta/">GitHub <i class="fa fa-github"></i></a></li>
      <li><a href="https://www.facebook.com/otevrenamesta"><i class="fa fa-facebook"></i>acebook</a></li>
    </ul>

    <ul class="inline-list">
      {% include nav.html %}
    </ul>

    <p class="quiet copyright">
      <span style="-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-khtml-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);display:inline-block;font-size:1em">©</span>
      Copyleft. Všechna práva vyhlazena. Obsah této stránky můžete volně šířit podle licence
      <a href="http://creativecommons.org/licenses/by/4.0/">
        <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="Creative commons Uveďte autora 4.0"/>
      </a>.
      Kod: <a href="mailto:info@vxk.cz">Václav Klecanda</a>
    </p>

  </div>
</footer>
