<footer class="site-footer row" role="contentinfo">
<hr/>
  <div class="large-12 columns">

    <p class="quiet copyright right">
      <a href="https://github.com/otevrenamesta/">GitHub <i class="fa fa-github"></i></a> |
      <a href="https://github.com/otevrenamesta/">Facebook <i class="fa fa-facebook"></i></a> |
      <a href="https://github.com/otevrenamesta/">Twitter <i class="fa fa-twitter"></i></a>
      {{ site.year }}
    </p>

    <ul class="inline-list">
        {% include nav.html %}
    </ul>


    <p class="quiet copyright">
      <span style="-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-khtml-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);display:inline-block;font-size:1em">©</span>
      Copyleft. Všechna práva vyhlazena. Kopírování je aktem lásky.
    </p>

    <p>Obsah této stránky můžete volně šířit podle licence
      <a href="http://creativecommons.org/licenses/by/4.0/">Creative commons Uveďte autora 4.0</a>.
    </p>
  </div>
</footer>
