<!doctype html>
<html class="no-js" lang="cs">
  <head>
    {% include head.html %}
  </head>
  <body>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <!-- Add header and nav here  -->

    <!--[if lt IE 8]>
        <div data-alert class="alert-box alert radius" class="browsehappy">Please <a href="http://browsehappy.com/">upgrade your browser</a>. <a href="#" class="close">&times;</a></div>
    <![endif]-->

    <header id="header" class="row">

      <div class="small-12 columns">
        <section class="right show-for-medium-up mam">
          <ul class="inline-list">
              {% include nav.html %}
          </ul>
        </section>

        <section class="right show-for-small">
          <ul class="inline-list mam">
          <li>
              <a class="right-off-canvas-toggle"><i class="fa fa-bars fa-lg">
              </i></a>
          </li>
          </ul>
        </section>

        <h1><a href="{{ site.url }}"><i class="fa fa-unlock-alt"></i> {{ site.title }}</a></h1>

      </div>
    </header>

    <!-- Off Canvas Menu -->
    <aside class="right-off-canvas-menu">
      <!-- navigation list goes here -->
      <ul class="off-canvas-list">
         {% include nav.html %}
      </ul>
    </aside>


    <div class="row">
      <section role="main">
        <div class="small-12 columns{% if page.style contains "legal" %} legal{% endif %}">

          {{ content }}

        </div>
      </section>
    </div>

    {% include footer.html %}

    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

  </div>
</div>

  </body>
</html>
